.carousel {
	margin-bottom: 0px;
}
.carousel .container {
	position: relative;
	z-index: 9;
	width: 100%;
}
.carousel-control {
	height: 80px;
	margin-top: 0;
	font-size: 120px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
	background-color: transparent;
	border: 0;
	z-index: 10;
}
.carousel .item {
	height: 400px;
}
.carousel img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 400px;
}
.carousel-caption {
	position: static;
	/*max-width: 550px;*/
    padding: 5px 20px;
	margin-top: 364px;
	transition: opacity 0.3s ease-out 0s;
	float: right;
	width:100%;
}
.carousel-caption h1 {
	float: right;
	font-size: 20px;
	margin: 0;
	line-height: 1.25;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}
.carousel-caption .lead {
	float: right;
	margin: 0;
	line-height: 1.25;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
	font-size: 15px;
	margin: 6px 10px 0;
}
.carousel-caption .btn {
	margin-top: 0px;
	float: right;
}

@media (max-width: 979px) {
.container.navbar-wrapper {
	margin-bottom: 0;
	width: auto;
}
.navbar-inner {
	border-radius: 0;
	margin: -20px 0;
}
.carousel .item {
	height: 400px;
}
.carousel img {
	width: auto;
	height: 500px;
}
}

@media (max-width: 767px) {
.navbar-inner {
	margin: -20px;
}
.carousel {
	margin-left: -20px;
	margin-right: -20px;
}
.carousel .container {

}
.carousel .item {
	height: 300px;
}
.carousel img {
	height: 300px;
}
.carousel-caption {
	width: 100%;
	padding: 5px 10px;
	margin-top: 264px;
}
.carousel-caption h1 {
	font-size: 20px;
}
.carousel-caption .lead,  .carousel-caption .btn {
	font-size: 15px;
}
.select-steps {
    margin: 10px 0 5px;
}
.search {
    padding: 5px 20px;
}
}
